/* ******************************** */
/* ******************************** */
/* GRID */
/* ******************************** */
/* ******************************** */
/* ******************************** */

// Grid de Container
%grid_2x1{
    display: grid;
    grid-template: {
        columns: 1fr auto;
    };
}

// Grid de columna texto
%grid_1x4{
    display: grid;
    grid-template: {
        columns: 1fr;
        rows: auto 1fr auto 1fr;
    };
}
