/* ******************************** */
/* ******************************** */
/* SECTION */
/* ******************************** */
/* ******************************** */
/* ******************************** */

.container__imagen {
    img{
        width: 60vw;
        height: 100vh;
        object-fit: cover;
    }
}