/* ******************************** */
/* ******************************** */
/* BOTONES */
/* ******************************** */
/* ******************************** */
/* ******************************** */

// Placeholder en Sass
%btn{
    display: inline-block;
    text-decoration: none;
    background: #BE2424;
    border-radius: 10px;
    color: #fff;
    padding: 0.7rem 1rem;
    &:hover{
        background: lighten(#BE2424, 10%);
    }
}


