//- ...,dispositivos,mobilMax,ipadMin,ipadMax,desktopMin
mixin picture(nombre,alt)
    picture
        //- Smartphone
        source(srcset='/assets/img/smartphone/' + nombre + '.jpg 1x,\
        assets/img/smartphone/' + nombre + '@2x.jpg 2x,\
        assets/img/smartphone/' + nombre + '@3x.jpg 3x' media='(min-width:0px) and (max-width:767px)')
        
        //- iPad
        source(srcset='/assets/img/tablet/' + nombre + '.jpg 1x,\
        assets/img/tablet/' + nombre + '@2x.jpg 2x' media='(min-width:768px) and (max-width:900px)')
        
        //- Escritorio
        source(srcset='/assets/img/desktop/' + nombre + '.jpg 1x,\
        assets/img/desktop/' + nombre + '@2x.jpg 2x' media='(min-width:1000px)')
        
        //- imagen de respaldo
        img(src='' alt= alt)


