section.container__imagen
    //- picture (foto de marca => Branding)
    //- con SEO
    //- nombre,alt,dispositivos(m / i / d),mobilMax,ipadMin,ipadMax,desktopMin
    +picture('perro','Es un perro triste')

    //- background image (foto es de una biblioteca)
    //- background = OK!
    //- sin SEO
    //- figure.imagen__perro: img(src="/assets/img/desktop/perro.jpg", alt="perro abandonado")


