include ../mixin/picture

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title DOGcall
    body
        //- MAIN SEO - Contenido importante
        main#container
            include aside
            include section
            

