/* ******************************** */
/* ******************************** */
/* TIPOGRAFIA */
/* ******************************** */
/* ******************************** */
/* ******************************** */

// Tipografía Base
$font_fz-base: 16px;
$font_family: 'Arial', 'Arial Black';

html{
    font-size: $font_fz-base;
    font-family: nth($font_family, 1 ), sans-serif;
    font-style: normal;
}


// H's
$h2-fz: $font_fz-base + 20px;

// parrafos
$parrafo: $font_fz-base + 2px;
